{:args           nil,
 :constraints    [],
 :tasksRunning   1,
 :disk           0.0,
 :mem            16.0,
 :requirePorts   false,
 :tasksStaged    0,
 :env            {},
 :backoffSeconds 1,
 :healthChecks   [],
 :deployments    [],
 :tasks
                  [{:id        "001.73eacd27-9aa0-11e4-afb4-001e101f0000",
                    :host      "192.168.8.100",
                    :ports     [31176],
                    :startedAt "2015-01-12T21:17:47.522Z",
                    :stagedAt  "2015-01-12T21:17:45.868Z",
                    :version   "2015-01-12T21:17:41.851Z",
                    :appId     "/001"}],
 :ports           [10000],
 :instances       1,
 :upgradeStrategy {:minimumHealthCapacity 1.0},
 :id              "/001",
 :backoffFactor   1.15,
 :container       nil,
 :cmd             "ping localhost",
 :storeUrls       [],
 :executor        "",
 :lastTaskFailure nil,
 :version         "2015-01-12T21:17:41.851Z",
 :uris            [],
 :user            nil,
 :dependencies    [],
 :cpus            0.1}